body {
    font-family: sans-serif;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
            max-width:800px;
            margin:0 auto;
            color:#8c7070;
            font-family:sans-serif;
            padding-top:60px;
            padding-left:60px;
            padding-right:60px;
        }

#commentdiv{
                  width: 320px;
                  padding: 10px;
                  border: 5px solid gray;
                  margin: 0;
                  border:dotted;
    
}